<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<h1>Welcome to Our Library</h1>
<div style="display: inline-block;">

	<div style="display: inline-block;">
		<%= button_to "Sign Up", signup_path, method: :get, class:"btn-success border-0 shadow p-2 m-2", style: "background-color: #87CEEB;" %>
	</div>
	<div style="display: inline-block;">
		<%= button_to "Log In", login_path, method: :get, class:"btn-success border-0 shadow p-2 m-2", style: "background-color: #FF00FF;" %>
	</div>
</div>

