<div id="<%= dom_id book_issue %>">
  <p>
    <strong>Book:</strong>
    <%= book_issue.book_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= book_issue.user_id %>
  </p>

  <p>
    <strong>Issue date:</strong>
    <%= book_issue.issue_date %>
  </p>

</div>
