<h1>Editing book issue</h1>

<%= render "form", book_issue: @book_issue %>

<br>

<div>
  <%= link_to "Show this book issue", @book_issue %> |
  <%= link_to "Back to book issues", book_issues_path %>
</div>
